@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    font-weight:100;
    font-size:16px;
}

body {
    background-color: #616161;
    color:#fff;
    opacity:0.85;
}

header {
    /* position: fixed; */
}

nav {
    margin:auto;
    text-align:right;
}

section {
    margin:auto;
    width:100%;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    background-color: #373737;
}

section.aboutme {
    font-family: "Playfair Display", serif;
    font-weight:600;
    font-style:italic;
    font-size:2em;
    letter-spacing: 0.15em;
}

footer {
    margin:auto;
    background-color:#8e8e8e;
}

footer p {
    color: #fff;
}